/* Write your code here. */
.win-lose-container{
    background-color: #ffffff33;
    border:2px solid #ffffff30;
    border-radius: 5px;
    height:200px;
    width:350px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.status{
    font-size: 26px;
    color:#ffffff;
    font-family: "Roboto";
}
.score{
    font-size: 20px;
    color:#ffffff;
    font-family: "Roboto";

}
.score-num{
    font-size: 20px;
    color:#6a59ff;
    font-family: "Roboto";
}
.play-again-btn{
    background-color: #ffce27;
    color:#3d3d3d;
    font-size: 18px;
    font-family: "Roboto";
    border: 0px solid #ffce27;
    border-radius:10px;
    padding: 10px;
    cursor: pointer;
    outline: none;
}
.img-urls{
    height:80px;
    width:80px;

}
